:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;

}

* {
    font-family: "Raleway", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    text-rendering: optimizeLegibility;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;

    /* Center the container*/
}

@media (max-width: 1023.98px) {
    .main-container {
        max-width: 100%;
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
        margin: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

/* __________ HEADER - NAVBAR ___________ */

.header-navbar {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767.98px) {
    .header-navbar {
        height: 115px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr 1fr 1fr;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
    }

    .header-navbar::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: var(--main-color);
    }
}

.header-nav {
    display: flex;
    width: 344px;
    height: 35px;
    justify-content: space-evenly;
}

@media (max-width: 767.98px) {
    .header-nav {
        display: flex;
        width: 100%;
        max-width: 767px;
        grid-column: 1 / span 3;
        justify-content: space-around;
    }
}

@media (max-width: 1023.98px) {
    .header-navbar {
        margin-bottom: 30px;
    }
}

.header-logo img {
    width: 61px;
    height: 19px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .header-logo {
        grid-column: 2;
        grid-row: span 2;
    }
}

.header-nav-item {
    display: flex;
}

.header-nav-item:first-child {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

@media (max-width: 767.98px) {
    .header-nav-item:first-child {
        border-top: none;
    }
}

.header-nav-item-text {
    display: flex;
    align-self: flex-end;
}

@media (max-width: 767.98px) {
    .header-nav-item-text {
        align-self: flex-start;
    }
}


/* __________ HEADER -  MAIN SECTION ___________ */

.header-main-section {
    margin: 30px 0 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 281px;
    max-width: 100%;
}

@media (max-width: 1023.98px) {
    .header-main-section {
        height: 322px;
    }
}

@media (max-width: 767.98px) {
    .header-main-section {
        padding: 0 20px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 432px;
        max-width: 100%;
    }
}

.header-main-text {
    height: 53px;
}

@media (max-width: 767.98px) {
    .header-main-text {
        height: 79px;
    }
}

.header-main-text h1 {
    font-size: 22px;
    font-weight: bold;
    overflow-wrap: break-word;
    margin-bottom: 8px;
}

@media (max-width: 767.98px) {
    .header-main-text h1 {
        font-size: calc(1.12rem + 0.5vw);
    }

    .header-subline {
        font-size: calc(0.96rem + 0.05vw);
    }
}

.header-searchbar {
    display: flex;
    width: 377px;
    height: 49px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

@media (max-width: 767.98px) {
    .header-searchbar {
        width: 100%;
    }
}

.header-searchbar-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header-searchbar-pin .fa-solid {
    width: 14px;
    height: 18px;
    color: black;
}

.header-searchbar input[type="text"] {
    position: relative;
    left: 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    overflow: hidden;
    z-index: 0;
}

.header-searchbar-city {
    display: flex;
    align-items: center;
    width: 197px;
    height: 49px;
    flex-grow: 1;
}

.header-searchbar-search {
    display: flex;
    width: 132px;
    height: 49px;
    color: white;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
}

.header-searchbar-search h2 {
    font-size: 18px;
}

.fa-seventeen {
    position: absolute;
    visibility: hidden;
}

@media (max-width: 767.98px) {
    .fa-seventeen {
        font-size: 17px;
        color: white;
        position: static;
        visibility: visible;
    }

    .header-searchbar-search h2 {
        font-size: 18px;
        position: absolute;
        visibility: hidden;
    }

    .header-searchbar-search {
        width: 49px;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.header-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 758px;
    height: 50px;
    gap: 15px;
}


@media (max-width: 1023.98px) {
    .header-filters {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 91px;
    }
}

@media (max-width: 767.98px) {
    .header-filters {
        height: 161px;
        width: 100%;
    }
}



.header-filters-title,
.header-filters-options {
    display: flex;
    gap: 15px;
}

@media (max-width: 1023.98px) {
    .header-filters-title {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media (max-width: 1023.98px) {
    .header-filters-options {
        width: 668px;
    }
}

@media (max-width: 767.98px) {
    .header-filters-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        column-gap: 10px;
        width: 100%;
    }
}

.header-filters h2 {
    font-size: 18px;
}

.header-filters-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
}

@media (max-width: 767.98px) {
    .header-filters-row {
        width: 100%;
    }
}


.header-filters-options h2 {
    padding: 15px 19px 15px 0;
    white-space: nowrap;
    font-size: 17px;
}

@media (max-width: 1023.98px) {
    .header-filters-options h2 {
        font-size: 16px;
        padding: 15.5px 19px 15.5px 0;
    }
}

@media (max-width: 767.98px) {
    .header-filters-options h2 {
        font-size: 14px;
        padding-top: max(17px, 34%);
        padding-bottom: max(17px, 34%);
    }
}

.header-filters-row:hover {
    background-color: #deebff;
    transition: 0.22s;
}

.fa-twentytwo {
    font-size: 22px;
    padding: 14px 10px 14px 19px;
}

@media (max-width: 767.98px) {
    .fa-twentytwo {
        padding: 8.09% 5.78% 8.09% 11.04%;
    }
}


.header-filters-row:nth-child(2) {
    padding-left: 4px;
}

@media (max-width: 767.98px) {
    .header-filters-row:nth-child(2) {
        padding-left: 0;
        padding-right: 18.5px;
    }
}

.header-tooltip {
    height: 24px;
    display: flex;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header-tooltip {
        height: 38px;
        width: 100%;
    }
}

.header-tooltip-icon {
    height: 24px;
    width: 24px;
    min-width: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-tooltip p {
    padding-left: 10px;
}

.mini-icon {
    font-size: 10px;
}

/* __________ END OF HEADER ___________*/

/* ____________ MAIN CONTENT ___________ */



.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.hebergements .section-title {
    font-size: 22px;
}

.hebergements .section-title:nth-child(3) {
    font-size: 18px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 30px;
}

.hebergements-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards img {
    height: 124px;
    padding: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-card-content {
    padding-left: 12px;
    margin-top: 4px;
    margin-bottom: 15px;
    height: 64.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-card-title-name {
    font-size: 16px;
}

.hebergements-card-subtitle-name {
    font-size: 14px;
}

.hebergements-card-rating {
    width: 81px;
    height: 13.25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hebergements-card-rating .fa-star {
    font-size: 13.25px;
    width: 14.29px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.populaires-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-card img {
    object-fit: cover;
}

.populaires-card-title {
    font-size: 16px;
}



.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 614px;
}

@media (max-width: 1023.98px) {
    .hebergements-and-populaires {
        height: 913.5px;
    }
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-card-rating {
    margin-bottom: 5px;
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

    .hebergements {
        gap: 15px;
    }

    .hebergements-and-populaires section {
        background-color: white;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        height: auto;

    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f2f2f2 !important;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .populaires-card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements a:nth-child(6) {
        order: 1;
    }

    .hebergements a:nth-child(2) {
        order: 5;
    }

    .hebergements a:nth-child(4) {
        order: 1;
    }

    .hebergements a:nth-child(3) {
        order: 1;
    }
}

/* ______________ ACTIVITES _______________ */

.activites {
    margin-top: 35px;
    margin-bottom: 35px;
}

@media (max-width: 767.98px) {
    .activites {
        margin-top: 20px;
    }
}


.activites-title {
    padding: 30px;
}

.activites-cards {
    padding: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    max-width: 1340px;
    max-height: 439px;
}

@media (max-width: 1023.98px) {
    .activites-card {
        max-height: 270px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-flow: column;
    }

    .activites-cards {
        max-height: 100%;
    }
}

@media (max-width: 767.98px) {
    .activites-card {
        max-height: 200px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .activites-cards {
        gap: 15px;
    }
}

.activites-card {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 297.5px;
    width: 100%;
}

@media (max-width: 767.98px) {
    .activites-card {
        max-width: 100%;
    }
}

.activites-card img {
    object-fit: cover;
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 1023.98px) {
    .activites-card img {
        height: 200px;
    }
}

@media (max-width: 767.98px) {
    .activites-card img {
        height: 141px;
    }
}

.activites-card-content {
    height: 59px;
    display: flex;
    align-items: center;
}

@media (max-width: 1023.98px) {
    .activites-card-context {
        height: 70px;
    }
}


.activites-card-txt {
    padding: 0 19px;
}

.activites-card-title {
    font-size: 16px;
}

@media (max-width: 1023.98px) {
    .activites-card-title {
        font-size: 16px;
    }
}

/*_________________ FOOTER _________________ */

.booki-footer {
    width: 100%;
    height: 163px;
    background-color: #F2F2F2;
    display: flex;
}

.booki-footer ul {
 
    height: 100%;
    list-style: none;
    font-size: 16px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 15px;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.booki-footer h3 {
    font-weight: bold;
    font-size: 18px;
}

.booki-footer section {
    width: 33.33%;
    height: 100%;
    padding: 20px 0 20px 20px;
}

@media (max-width: 767.98px) {
    .booki-footer {
        display: flex;
        flex-direction: column;
        height: 461px;
        width: 100%;
        margin-top: 35px;
        row-gap: 50px;
        padding: 30px;
    }

    .booki-footer ul {
        justify-content: unset;
        row-gap: 15px;
    }

    .booki-footer section {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .booki-footer section:nth-child(1) {
        height: 123px;
    }

    .booki-footer section:nth-child(2) {
        height: 89px;
    }

    .booki-footer section:nth-child(3) {
        height: 89px;
    }
}